.button{
    width: 100px;
    height: 40px;
}

.primary{
    color: rgb(26, 141, 156);
}

.secundary{
    color: rgb(2, 34, 138);
}

.danger{
    color: rgb(170, 17, 17);
}

.success{
    color: rgb(2, 167, 2);
}